numpy
scipy>=0.18.0
matplotlib
pandas
scikit-learn
seaborn
pylint
tqdm

coloredlogs
ipython
ipykernel
ipywidgets 
jupyter
notebook
nodejs
nbdime
jupyterlab 
ipympl
PyQt5
ffmpeg-python

sounddevice
librosa
samplerate
mir_eval
acoustics

openpyxl

-e git+ssh://git@github.com/AI-Gruppe/ai_general_dataparserlib-sw.git#egg=dataparsing
-e git+ssh://git@github.com/tabeatheunicorn/general_pythondebugging.git#egg=generichelpermodule
-e git+ssh://git@github.com/AI-Gruppe/ai_convinAIent-dataprocessing_sw.git#egg=convinAIent
-e git+ssh://git@github.com/AI-Gruppe/ai_internal_anAIlysis-rg_sw.git@rg/dev#egg=anAIlysis