numpy
scipy>=0.18.0
matplotlib
pandas
scikit-learn
seaborn
pylint
tqdm

coloredlogs
ipython
ipykernel
ipywidgets 
jupyter
notebook
nodejs
nbdime
jupyterlab 
ipympl
PyQt5
ffmpeg-python

sounddevice
librosa
samplerate
mir_eval
acoustics

openpyxl

-e git+ssh://git@github.com/AI-Gruppe/ai_internal_anAIlysis-rg_sw.git@rg/dev#egg=anAIlysis